.page__nav
  background-color: #F5F5F5
  position: fixed
  top: 0
  left: 0
  right: 0

  ul
    text-align: center
  li
    display: inline-block
    padding-right: $base-spacing
    width: auto
  a
    color: $medium-gray
    border: 0
    font-size: $base-font-size * 0.7
    line-height: $base-line-height * 2
    text-transform: uppercase

    &:hover
      color: $dark-gray
