.post__related
  margin-top: $base-spacing
  padding-bottom: $base-spacing * 3
  +outer-container($layout-max-width--wide)

  &__item
    border: $medium-gray 4px solid
    display: block
    text-align: center

    +span-columns(6 of 12)
    +omega(2n)

    &:hover
      border-color: $dark-gray

  a
    border: 0
    display: block
    font-family: $serif
    padding: $base-spacing

  small
    display: block
    font-style: italic

  h2
    text-transform: uppercase

  h3
    margin: 0
