---
layout: default
---

<article class="post__article">
  <p class="type">{{ page.layout }}</p>
  <h1 class="post__header">{{ page.title }}</h1>

  {% if page.subhead %}
  <h2 class="post__subhead">{{ page.subhead }}</h2>
  {% endif %}

  {{ content }}
</article>
