---
---

// libraries
@import 'bourbon'
@import 'vendor/normalize'

@import 'https://fonts.googleapis.com/css?family=Radley:400,400italic'
@import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic'

// Variables
@import 'base/variables'

// Grid
@import 'base/grid-settings'
@import 'neat'

// Base -- based on Neat
@import 'base/buttons'
@import 'base/forms'
@import 'base/lists'
@import 'base/tables'
@import 'base/typography'

// layout
.page__wrap
  background-color: $white
  position: relative
  margin: 42.222px 0 ($base-spacing * 3) 0
  z-index: 2

.content__container
  +outer-container($layout-max-width)
  margin: 0 auto

@import 'modules/header'
@import 'modules/nav'
@import 'modules/related'
@import 'modules/pagination'

@import 'modules/code'
@import 'modules/syntax'

@import 'modules/footer'

// pages
@import 'pages/page'
@import 'pages/post'
@import 'pages/post-index'
@import 'pages/notes-index'
