{% assign favicon_path = site.baseurl | append: '/public/favicons' %}
<link rel="apple-touch-icon" sizes="57x57" href="{{ favicon_path }}/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ favicon_path }}/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ favicon_path }}/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ favicon_path }}/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ favicon_path }}/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ favicon_path }}/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ favicon_path }}/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ favicon_path }}/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ favicon_path }}/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="{{ favicon_path }}/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ favicon_path }}/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="{{ favicon_path }}/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{ favicon_path }}/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="{{ favicon_path }}/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{ favicon_path }}/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ favicon_path }}/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
