<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination__item--older" href="/page{{paginator.next_page}}">&lt;&lt; Older</a>
  {% else %}
    <span class="pagination__item--older"></span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination__item--newer" href="/">Newer &gt;&gt;</a>
    {% else %}
      <a class="pagination__item--newer" href="/page{{paginator.previous_page}}">Newer &gt;&gt;</a>
    {% endif %}
  {% else %}
    <span class="pagination__item--newer"></span>
  {% endif %}
</div>
