<section class="post__related">
  <h2>Related Posts</h2>
  <ul>
    {% for post in site.related_posts limit:2 %}
      <li class="post__related__item">
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</section>
